
TakeThree 4.27/Intermediate/CachedAssetRegistry.bin
TakeThree 4.27/Saved/AutoScreenshot.png
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-E9B4720B47DE80B60A73648DB4648C1F/CrashReportClient.ini
TakeThree 4.27/Saved/Config/Windows/EditorPerProjectUserSettings.ini
TakeThree 4.27/Saved/Logs/TakeThree-backup-2022.04.09-01.32.32.log
TakeThree 4.27/Saved/Logs/TakeThree.log
TakeThree 4.27/Saved/Config/Windows/EditorPerProjectUserSettings.ini
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-C04DD707474C95251CA8ADBF0281A745/CrashReportClient.ini
TakeThree 4.27/Saved/AutoScreenshot.png
TakeThree 4.27/Saved/Config/Windows/Engine.ini
TakeThree 4.27/Saved/Logs/TakeThree.log
TakeThree 4.27/Content/Main/Blueprints/CameraPawnController.uasset
*.log
*.png
*.png
