
TakeThree 4.27/Intermediate/CachedAssetRegistry.bin
TakeThree 4.27/Saved/AutoScreenshot.png
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-E9B4720B47DE80B60A73648DB4648C1F/CrashReportClient.ini
TakeThree 4.27/Saved/Config/Windows/EditorPerProjectUserSettings.ini
TakeThree 4.27/Saved/Logs/TakeThree-backup-2022.04.09-01.32.32.log
TakeThree 4.27/Saved/Logs/TakeThree.log
TakeThree 4.27/Saved/Config/Windows/EditorPerProjectUserSettings.ini
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-C04DD707474C95251CA8ADBF0281A745/CrashReportClient.ini
TakeThree 4.27/Saved/AutoScreenshot.png
TakeThree 4.27/Saved/Config/Windows/Engine.ini
TakeThree 4.27/Saved/Logs/TakeThree.log
TakeThree 4.27/Content/Main/Blueprints/CameraPawnController.uasset
*.log
*.png
*.png
TakeThree 4.27/Saved/Logs/TakeThree.log
TakeThree 4.27/Saved/Config/Windows/EditorPerProjectUserSettings.ini
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-FADD4A734A819C88E04AF4AD5DFEAF1A/CrashReportClient.ini
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-F87FE0B244CD51F6C057918A82C5CC77/CrashReportClient.ini
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-9ABA659247B8F0AA1A316194F5B95E36/CrashReportClient.ini
TakeThree 4.27/Saved/Config/CrashReportClient/UE4CC-Windows-75648FA6424DF540FA82E5B92B87D2E7/CrashReportClient.ini
TakeThree 4.27/Saved/AutoScreenshot.png
TakeThree 4.27/Saved/Autosaves/Game/Main/Maps/TestMapMain_Auto1.umap
TakeThree 4.27/Intermediate/CachedAssetRegistry.bin
TakeThree 4.27/Content/Main/Maps/TestMapMain_BuiltData.uasset
TakeThree 4.27/Content/Main/Maps/TestMapMain.umap
